# Google Maps API Credentials
VITE_GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY_HERE

# Microservices API Gateway / Cloud URLs (Local or Production)
VITE_API_AUTOBUS_URL=http://localhost:8002
VITE_API_EMPRESAS_URL=http://localhost:8004
VITE_API_CONDUCTORES_URL=http://localhost:8003
VITE_API_RUTAS_URL=http://localhost:8006
VITE_API_PARADAS_URL=http://localhost:8005
VITE_API_CLIENTES_URL=http://localhost:8007
VITE_API_MONITOREO_URL=http://localhost:8008
